
.orangeClip {
  background-color: #FC7522;
}

.highlight{
  color: black !important;
  font-size: 2px
}

.collection li:hover {
  width: 700px;
  background-color: orange;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

